

@page "/"
@page "/{Id}"


@inject NavigationManager UriHelper

@inject ConfigurationData _ConfigurationData
@inject MyBlazorDbContext _DbContext

<div class="container-fluid text-left">
    @*  <h3 style="padding-top:3em">海南威特送变电工程有限公司</h3>*@



    <img src="/css/image/wtlog2.png" class="img-fluid rounded mx-auto " style="padding-top:0em;padding-bottom:0.5em">
    @*Welcome to your new app.*@
    <p class=" h4 text-monospace font-weight-bolder" style="font-family:Consolas;color:#0a3f8b">
        HAINAN WEITE POWER TRANSMISSION AND TRANSFORMATION CO.,LTD
    </p>
    @*<SurveyPrompt Title="How is Blazor working for you?" />*@
    <SurveyPrompt AtCertificate="@AtCertificate" />

    @if (AtCertificate!=null)
    {
        <ReportFile Number="@Productnumber" 安全帽试验报告 />
    }


    <div class="text-center text-nowrap font-weight-normal text-monospace">
        <p>
            海南威特送变电工程有限公司
        </p>
    </div>
</div>





@code{
    [Parameter]
    public string Id { get; set; } = "";

    private string Productnumber { set; get; }

    [Parameter]
    public Certificate AtCertificate { get; set; }

    protected override async Task OnInitializedAsync()
    {

        if (Id!=null)
        {
            AtCertificate =  _DbContext.TableCertificates.Where(w=>w.Guid==Id).AsNoTracking().FirstOrDefault();//Find(f => f.Guid == Id);

            if (AtCertificate != null)
            {
                Productnumber = AtCertificate.Numbel;
            }
        }

        //if (authenticationStateTask.Result.User.Identity.IsAuthenticated)
        //{
        //   CallCenterUser = await _UserManager.GetUserAsync(authenticationStateTask.Result.User);
        //    Name = CallCenterUser.RealName;
        //}
    }

}