

@*@inherits BlazorBase*@

<div>

    <div class="text-center">
        <p class="h3 font-weight-bold text-monospace " style="padding-top: 1.5em; padding-bottom: 1em ">@Title<samp>试验报告</samp></p>
    </div>

    <table>
        <tbody class="text-left text-monospace font-weight-normal">
            <tr>
                @*<td>
                          <p>所属单位：<span style="color: red">中海石油海南天然气有限公司</span></p>
                    </td>*@
            </tr>

            <tr>
                <td>
                    <p>生产厂家：<span>天长市天安防护用品有限公司</span></p>
                </td>
                @*<td>
                          <p> 型号：<span  >GSSB</span></p>

                    </td>*@
            </tr>
            <tr>
                <td>
                    <p> 型号：<span></span></p>
                </td>
            </tr>
        </tbody>
    </table>


    <TableComponent2 Number="@Number" />
    @*<p>sadasdasdddddddd</p>*@
    
    <div class="div2">
        <img src="/css/image/log.png" style="width:75%;height:auto;">
    </div>
    <table class="tab text-left">
        <tbody>
            <tr>
                <td><p>试验人员:</p></td>
                <td>
                    <p> <span>李茂保、李海辉</span></p>
                </td>
            </tr>
            <tr>
                <td><p>试验日期:</p></td>
                <td>
                    <p><span>2020年04月26日</span></p>
                </td>
            </tr>
            <tr>
                <td><p>试验环境:</p></td>
                <td>
                    <p><span>温度：30℃  湿度70%</span></p>
                </td>
            </tr>
            <tr>
                <td><p>试验周期:</p></td>
                <td>
                    <p><span>两年半</span></p>
                </td>
            </tr>
        </tbody>
    </table>

</div>


@code{

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Number { get; set; }
}