



@*<table border="1" class="text-left text-monospace font-weight-normal " >
    <caption><p><span class="font-weight-normal">试验结果:</span>依据《电力安全工作规程》(发电厂和变电站电气部分)GB26860-2011，试验合格。</p></caption>

    <tbody class="text-monospace font-weight-normal">
        <tr>
            <th colspan="2" scope="col">
                <p> 编号：@Number</p>
            </th>
        </tr>
        <tr>
            <th scope="col" >抽取样品编号</th>
            <th>
                <p>样品1：0007，样品2：0015</p>
                <p></p>
                <p>样品3：0023，样品4：0025</p>
                <p></p>
                <p>样品5：0037，样品6：0048</p>
                <p></p>
            </th>
        </tr>
        <tr>
            <th scope="col" >检验标准</th>
            <th>
                <p>冲击吸收性能：</p>
                <p>用三顶安全帽分别在50±2℃（矿井下用安全帽40℃）、－10±2℃及浸水三种情况下处理，然后用5KG钢锤自1M高度落下进行冲击试验，头模所受冲击力的最大值均不应超过500KG。</p>
                <p>耐穿透性能：</p>
                <p>根据安全帽的材质选用50±2℃、－10±2℃及浸水三种方法中的一种进行处理，然后用3KG钢锥自1M高度落下进行试验，钢锥不应与头模接触。</p>
                <p>其他要求（根据需要增加的要求）：</p>
                <p>耐低温性能：</p>凡低于－10℃安全帽的冲击吸收性能与耐穿透性能要符合3．1．1和3．1．2款的要求。
                <p>耐燃烧性能：</p>
                <p>用GB2812－81《安全帽试验方法》规定的火焰和方法燃烧安全帽10秒钟，移开火焰后，帽壳火焰在5秒钟内应能自灭。 </p>
                <p>电绝缘性能：</p>
                <p>交流1200V耐压试验1分钟，泄漏电流不应超过1.2mA。</p>
                <p>侧向刚性：</p>
                <p>用GB2812－81规定的方法给安全帽横向加43kg压力，帽壳最大变形不应超过40mm，卸载后变形不应超过15mm。</p>
            </th>
        </tr>
        <tr>
            <th>备注</th>
            <th>0001-0056为同一批次，样品合格即全部合格</th>
        </tr>
    </tbody>
</table>*@


<table border="1" class="text-left text-monospace font-weight-normal ">
    <caption><p><span class="font-weight-normal">试验结果:</span>依据《电力安全工作规程》(发电厂和变电站电气部分)GB26860-2011，试验合格。</p></caption>

    <tbody class="text-monospace font-weight-normal">
        <tr>
            <th colspan="3" scope="col">
                <p> 编号：@Number</p>
            </th>
        </tr>
        <tr>
            <th scope="col">项目</th>
            <th>周期</th>
            <th>要求</th>
        </tr>
        <tr>
            <th scope="col">冲击性能试验</th>
            <th rowspan="2">
                <p>植物枝条编织帽：1年后</p>
                <p>塑料和纸胶帽：2.5年后</p>
                <p>玻璃钢（维纶钢）橡胶帽：3.5年后</p>
            </th>
            <th>传递到头模上冲击力小于4900N，帽壳不得有碎片脱落</th>
        </tr>

        <tr>
            <th>耐穿刺性能试验</th>
            
            <th>钢锥不接触头模表面，帽壳不得有碎片脱落</th>
        </tr>
        <tr >
            <th colspan="3">注:使用期从产品制造完成之日起计算，以后每年抽检一次。每批从最严酷使用场合中抽取，每项试验样不少于2项，有一项不合格，则该批安全帽报废。</th>
        </tr>
    </tbody>
</table>
@code {
    [Parameter]
    public string Number { get; set; }
    //安全帽
}
