
<table border="1" class="tab text-left text-monospace font-weight-normal " style="padding-top:1.5rem;">
    <caption><p><span class="font-weight-normal">试验结果:</span>依据《电力安全工作规程》(发电厂和变电站电气部分)GB26860-2011，试验合格。</p></caption>

    <tbody class="text-monospace font-weight-normal">
        <tr>
            <th colspan="2" scope="col">
                <p> 编号：@Number</p>
            </th>
        </tr>
        <tr>

            <th>试验电压kV</th>
            <th>8</th>
        </tr>
        <tr>
            <th>时间min</th>
            <th>1</th>
        </tr>
        <tr>
            <th>泄漏电流mA</th>
            <th>3.7</th>
        </tr>
        <tr>
            <th>泄漏电流要求mA</th>
            <th>≤ 9</th>
        </tr>
     
    </tbody>
</table>


<table border="1" class="tab text-left text-monospace font-weight-normal  " style="padding-top:1.5rem;">
    <caption><p><span class="font-weight-normal">试验结果:</span>依据《电力安全工作规程》(发电厂和变电站电气部分)GB26860-2011，试验合格。</p></caption>

    <tbody class="text-monospace font-weight-normal">
        <tr>
            <th colspan="2" scope="col">
                <p> 编号：@Number</p>
            </th>
        </tr>
        <tr>

            <th>试验电压kV</th>
            <th>2.5</th>
        </tr>
        <tr>
            <th>时间min</th>
            <th>1</th>
        </tr>
        <tr>
            <th>泄漏电流mA</th>
            <th>3.7</th>
        </tr>
        <tr>
            <th>泄漏电流要求mA</th>
            <th>≤ 2.5</th>
        </tr>

    </tbody>
</table>
@code {
    [Parameter]
    public string Number { get; set; }

    //绝缘手套

}
