
<table border="1" class="tab text-left text-monospace font-weight-normal ">
    <caption><p><span class="font-weight-normal">试验结果:</span>依据《电力安全工作规程》(发电厂和变电站电气部分)GB26860-2011，试验合格。</p></caption>

    <tbody class="text-monospace font-weight-normal">
        <tr>
            <th colspan="3" scope="col">
                <p> 编号：@Number</p>
            </th>
        </tr>
        <tr>
            <th>成组直流电阻试验</th>
            <th>15</th>
        </tr>
        <tr>
            <th>时间min</th>
            <th>1</th>
        </tr>
        <tr>
            <th>泄漏电流mA</th>
            <th>3.7</th>
        </tr>
        <tr>
            <th>泄漏电流要求mA</th>
            <th>≤ 7.5</th>
        </tr>
     
    </tbody>
</table>
@code {
    [Parameter]
    public string Number { get; set; }

    //10kV接地线

}
